virtualenv
virtualenvwrapper
requests
pymongo
zope.interface
Twisted
#git+git@github.com:medialab/txjsonrpc.git
nose
coverage
httplib2
pybtex
beautifulsoup4
phpserialize
pyoai
google-api-python-client
gdata
gspreadsheet
ply
pymarc
#git+git@github.com:asl2/PyZ3950.git
python-dateutil < 2.0
python-stdnum
smc.bibencodings
jsonrpclib
