<fieldset class="customInput CreatorField">
  <div class="message"></div>
  <label>
    {{ label }} :
  </label>
  <div class="creators-container container">
    <ul class="creators-list"></ul>
    <button class="add-creator">+</button>
  </div>
</fieldset>
