<li>
  <select class="select-language">
    {{#each languages}}
      <option value="{{ this.id }}">{{ this.label }}</option>
    {{/each}}
  </select>
  <button class="remove-language">-</button>
  <textarea class="col-6"></textarea>
</li>
