<fieldset class="customInput TypeField">
  <div class="message"></div>
  <label>
    {{ label }} :
  </label>
  <div class="types-container container">
    <ul class="values-list"></ul>
    {{#if multi}}
      <button class="add-value">+</button>
    {{/if}}
  </div>
</fieldset>
