/* Basic custom inputs stuff */
.customInput div.container {
  display: inline-block;
  vertical-align: top;
}

.customInput ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.customInput ul li button {
  visibility: hidden;
}

.customInput ul li:hover button {
  visibility: visible;
}

/* CreatorField style */

.CreatorField ul.creators-list li:first-child button.moveup-creator,
.CreatorField ul.creators-list li:last-child button.movedown-creator {
  display: none;
}

.CreatorField div.creators-container select.select-role {
  max-width: 120px;
}

/* LanguageValueField style */
.LanguageValueField ul.languages-list li textarea {
  display: block;
}
